@model asp_mvc.Dtos.HomeViewModel

<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="sidebar">
                <div class="sidebar">
                    <ul class="categories-list">
                        @foreach(var category in Model.Categories)
                        {
                            <li class="category-item">
                                <a href="">@category.CategoryName</a>
                                @if(category.SubCategories.Any())
                                {
                                    <ul class="subCategories-list">
                                    @foreach(var subcategory in category.SubCategories)
                                    {
                                        <li>
                                            <a asp-controller="Product" asp-action="ProductList" asp-route-SubCategoryId="@subcategory.SubCategoryId">@subcategory.SubCategoryName</a>
                                        </li>
                                    }
                                    </ul>
                                }
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-9">
            <img src="https://book365.vn/upload/uf/148/d6fv7g2tyegvcz9xbsghsy80db0h4ca1.png" alt="" class="w-100">
        </div>
    </div>
    <div class="publisher">
        <ul class="publishers-list">
            @foreach(var publisher in Model.Publishers)
            {
                <li class="publisher-item">
                    <a href="">
                        <img src="@publisher.PublisherThumb" />
                        <span>@publisher.PublisherName</span>
                    </a>
                </li>
            }
        </ul>
    </div> 
    <div class="section">
        <h1>Sách Giảm Giá</h1>
        <div class="row">
            @foreach(var product in Model.Products)
            {
                <div class="col-2">
                <div class="item">
                    <a asp-controller="Product" asp-action="ProductDetail" asp-route-ProductId="@product.ProductId">
                        <img src="@product.Thumb" alt="@product.Title" class="item-image">
                    <div class="item-content">
                        <p class="item-title">@product.Title</p>
                        <a href="#" class="item-author">@product.Author</a>
                        <p class="item-price">
                        <span class="price-new">@product.PriceNew.ToString("C")</span>
                        
                        </p>
                    </div>
                    </a>
                </div>
        </div>
            }
        </div>
    </div>
     <div class="section">
        <h1>Sách Đọc Nhiều</h1>
        <div class="row">
            @foreach(var product in Model.ProductSolds)
            {
                <div class="col-2">
                <div class="item">
                    <a asp-controller="Product" asp-action="ProductDetail" asp-route-ProductId="@product.ProductId">
                        <img src="@product.Thumb" alt="@product.Title" class="item-image">
                    <div class="item-content">
                        <p class="item-title">@product.Title</p>
                        <a href="#" class="item-author">@product.Author</a>
                        <p class="item-price">
                        <span class="price-new">@product.PriceNew.ToString("C")</span>
                        
                        </p>
                    </div>
                    </a>
                </div>
        </div>
            }
        </div>
    </div>
</div>